extends layout

block content
	.portfolio
		a(href="http://www.findyoga.com.au/", target="_blank").findYoga
		a(href="http://www.localsmile.com.au/", target="_blank").localsmile.middle
		a(href="http://www.iapa.org.au/", target="_blank").iapa
